
.venue {
  background: #3C402B;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.venue-image {
  width: 50%;
}

.venue-image * {
  width: 100%;
}

.venue-info {
  width: 50%;
  flex-direction: column;
  align-items: center;
}
